@import '../../node_modules/vue2-strap/dist/css/bootstrap.min.css';

html, body {
  font-family: 'Cabin', sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: bold;
  color:black;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  color:black;
  text-align: left;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
p {
  padding-top: 50px;
  font-size: 24px;
  text-align: left;
  color:#333;
}
img {
  margin-top: 60px;
}
hr {
  border:0;
  border-top: 1px solid #9f9f9f;
}
