
.creditos h2 {
  font-size: 70px;
  text-align: center;
}
.creditos p {
  text-align: center;
}
.creditos ul {
  list-style:none;
  padding:0;
  font-size:20px;
}

section.intro p {
  text-align: center;
}
.arrow-down {
  border-width: 1px;
    border-style: solid;
    border-top: 0px;
    border-left: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    margin: auto;
    display: inline-block;
    color:#2c3e50;
}
div.arrow-down:hover {
  border-bottom:2px solid black;
  border-right:2px solid black;
}

.arrow-up {
  border-width: 1px;
    border-style: solid;
    border-bottom: 0px;
    border-right: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    margin: auto;
    display: inline-block;
    color:#2c3e50;
    margin-top: 40px;
}
div.arrow-down:hover {
  border-top:2px solid black;
  border-left:2px solid black;
}

#mapa-cambio-politico-comunas {
  width: 100%;
  height: 1200px;
}
