<div>
<section class="container intro">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="cambios-en-la-geografia-politica-de-chile">Termómetro del cambio político en Chile</h1>
      <p>Elección tras elección los partidos políticos y los candidatos independientes miden sus fuerzas para conquistar los votos de los electores. Cálculos y encuestas influyen a la hora de determinar quién competirán en cada comuna. Sin embargo, los datos aportan una nueva perspectiva: las comunas de Chile cambian poco de tendencia política</p>
      <p>El “termómetro del cambio político” permite conocer rápidamente cuáles son las comunas que menos y más cambian de tendencia política en los últimos 12 años tomando como base los resultados de las últimas elecciones de alcaldes. </p>
      <a class="arrow-down"  href="#comuna-bipolar"></a>
    </div>
  </div>
</section>


<section class="container bipolar">
  <div class="row">
    <div class="col-sm-12">
      <h2 id="comuna-bipolar">Variabilidad política de las comunas</h2>
      <p>Cada pacto electoral, partido y candidato fue estudiado para asignarle una posición que lo situaba en un lugar en el espectro político. Al analizar los resultados electorales se generó un ​<strong>índice de variabilidad política</strong>​: mientras más intenso el color, la comuna es más cambiante en su posición política.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div id="mapa-cambio-politico-comunas"></div>
      <hr>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Índice de variabilidad política</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
        <img class="img-responsive" src="static/img/grafico-indice-variabilidad-politica.png" />
      <hr>
    </div>
  </div>
</section>


<variabilidad-cascada></variabilidad-cascada>

<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 id="tendencias-politicas-en-cada-eleccion">Tendencias políticas en cada elección </h2>

      <p>Los mapas muestran la tendencia política del alcalde electo en cada comuna y para cada proceso eleccionario. Se emplea un código de color para determinar la tendencia política ganadora: rojo para la izquierda; azul para la derecha. </p>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <img class="img-responsive" src="static/img/grafico-cambio-politico-comunas.png" alt="">
        <hr>
      </div>
    </div>
  </div>
</section>


<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 id="gasto-electoral">Gasto electoral</h2>

      <p>El siguiente gráfico muestra el gasto en la campaña electoral del alcalde electo en las elecciones y la compara con la mediana del gasto del resto de los candidatos. </p>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <img class="img-responsive" src="static/img/grafico-gasto-electoral-comunas.png" alt="">
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 id="termometro-del-cambio-politico-como-una-herramienta">Termómetro del cambio político como una herramienta  </h2>

      <p>En general, las comunas cambian muy poco de tendencia política. Pero, si la normalidad es no cambiar ¿Por qué hay comunas que cambian mucho </p>
      <p>Cruzando esta información con variables económicas (encuesta Casen, nivel de pobreza), datos de victimización y criminalidad, inversión municipal o, incluso, gasto electoral de los candidatos ganadores podemos encontrar historias que pueden dar explicación a este cambio inusual. </p>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="container creditos">
  <div class="row">
    <div class="col-sm-12">
      <h2 id="creditos">Créditos</h2>

      <p>Este desarrollo fue realizado en el marco de la Hackaton “​Datos, Dineros y Partidos” organizada por la <a href="https://ciudadanointeligente.org/">Fundación Ciudadano Inteligente</a> y <a href="http://www.datacampfire.com/">Data Campfire</a> el 22 y 23 de julio de 2017, obteniendo el tercer lugar. </p>
      <p>El equipo está conformado por: </p>

      <ul>
        <li><a href="http://www.ibarra.cl">Alexis Ibarra</a></li>
        <li><a href="https://about.me/davidlaym">David Lay</a></li>
        <li><a href="https://www.twitter.com/ismaelgomezs">Ismael Gómez</a></li>
        <li><a href="http://www.jorgelcortes.com">Jorge Cortés</a></li>
        <li><a href="mailto:nanuelcaneloaraya@gmail.com">Nahuel Canelo</a></li>
        <li>Sean Park</li>
      </ul>

      <a class="arrow-up" href="#cambios-en-la-geografia-politica-de-chile"></a>
    </div>
  </div>
</section>
</div>
