#grafico-cascada-de-variabilidad {
	width	: 100%;
  height	: 900px;


}
h4 {
  font-size: 22px;
}

#escala-grafico svg {
  margin-top:10px;
  margin-bottom:-120px;
}

.flecha-izquierda, .flecha-derecha {
  padding-left:5%;
  padding-right:5%;
}
