<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 id="variabilidad-historica-de-cada-comuna-cascada">Variabilidad histórica de cada comuna</h2>

      <p>El “termómetro del cambio político” permite conocer rápidamente cuáles son las comunas que más o menos cambiaron de tendencia política en los últimos 12 años. En el gráfico interactivo se puede ver la totalidad de las comunas de Chile (345 comunas). Al buscar una comuna en particular ésta se destaca en color rojo para compararla con las demás.</p>
    </div>
  </div>

    <div class="row" style="padding-top:40px;">
      <div class="col-sm-8 col-sm-offset-2">
          <form action="">
            <div class="form-group">
              <v-select :options="comunas" label="Comuna" placeholder="Seleccione comuna" :on-change="selectedComunaChanged"></v-select>
            </div>
          </form>
      </div>
    </div>
    <div class="row" id="escala-grafico">
      <div class="col-sm-2"><h4>Izquierda</h4></div>
      <div class="col-sm-3 flecha-izquierda">
        <svg>
           <g id="layer1">
            <path
              style="fill:none;fill-rule:evenodd;stroke:#FF0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
             d="m 149.3516,10.811647 -147.8571492,0"
              id="path3336"
               />
            <path
              style="fill:none;stroke:#FF0000"
              d="M 11.335261,21.249533 0.97812076,10.89239 11.335261,0.53524948"
              id="rect3338"/>
          </g>
        </svg>
      </div>
      <div class="col-sm-2"><h4>Centro</h4></div>
      <div class="col-sm-3 flecha-derecha">
        <svg>
           <g id="layer1">
            <path
              style="fill:none;fill-rule:evenodd;stroke:#0000FF;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 0.27101404,10.973135 147.85714596,0"
              id="path3336"
               />
            <path
              style="fill:none;stroke:#0000FF"
              d="M 138.28735,0.53524945 148.64449,10.892392 138.28735,21.249533"
              id="rect3338"/>
          </g>
        </svg>
      </div>
      <div class="col-sm-2"><h4>Derecha</h4></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
          <div id="grafico-cascada-de-variabilidad"></div>
        <hr>
      </div>
    </div>
</section>
